.montserrat {
    font-family: Montserrat, serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px;
    background-color: #edddd0;
}

header {
    background-color: #a6cad4;
    grid-column: 1 / -1;
    grid-row: 1;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content:space-around;
}

header > h1 {
    text-align: center;
    color: #334259;
}

main {
    grid-column: 1 / -1;
    grid-row: 2;
}

footer {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a6cad4;
}

footer > h3 {
    color: #334259;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.portrait {
    grid-column: 3;
    grid-row: 2;
}

.intro {
    grid-column: 1;
    grid-row: 2;
}

.end {
    grid-column: 1 / 4;
    grid-row: 3;
}

section > ul {
    grid-column: 1 / 4;
    grid-row: 2;
    padding: 20px;
}

article.galleryPhoto {
    background-color:#e5e5dc;
    border: double #db504a 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

ul.gallery{
    list-style: none;
    grid-column: 2;
}

ul.gallery > li {
    padding: 10px;
}

/*Courses: Mobile <600px*/
body.courses {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.courses header {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

.courses section {
    display: flex;
    flex-direction: column;
}

.courses header ul {
    flex-direction: column;
    align-items: center;
}

section article {
    padding: 10px;
    border-bottom: #334259 solid 2px;
}

section article.listEnd {
    border: none;
}

/*Courses: Computer >600px*/
@media screen and (min-width:600px) {
    .courses article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }

    p.courseDate {
        grid-row: 2;
    }

    .courses header ul {
        flex-direction: row;
    }

    section article {
        border-bottom: #334259 solid 3px;
    }
}
